.boxHeader {
    background-color: #fff;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: end;
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    p {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 15s linear infinite;
    }
}

@keyframes marquee {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}